<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GitLab Commit Demo</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <main>
    <section class="container">
      <div class="header">
        <h1>GitLab Commit Demo</h1>
      </div>
      <div class="body">
        <p>Command: </p><p class="code">{{.Input}}</p>
        <p>Output: </p><p class="code">{{.Resp}}</p>
      </div>
      <div class="back">
        <a href="/" class="button">Back</a>
      </div>
    </section>
  </main>
</body>
</html>
